
/* BEGIN EXTERNAL SOURCE */
Button {
float:right
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
Button {
margin-right: 10px;float:right; margin-left: 2px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
Button {
margin-right:10px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
Button {
margin-right:10px
}
/* END EXTERNAL SOURCE */
